DATA_PATH=../astram_review_bundle_v2/review_bundle/Astram event data_anonymized - Astram event data_anonymizedb40ac87.csv
API_HOST=0.0.0.0
API_PORT=8000
STREAMLIT_PORT=8501
MODEL_NAME=PlaceholderModel
DEBUG=false
